<!DOCTYPE html>
<html>
<head>
	<title>{%block title_block%} {%endblock%}</title>
	

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
	 

	 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



	<style type="text/css">
	{%block body%}

	{%endblock%}

	

   </style>
	
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-dark" style="height: 90px;">
  <a class="navbar-brand" href="#" style="color: white">ROCK'S GYM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" >
    <ul class="navbar-nav" style="position: relative;">
    	<li class="nav-item active">
        <a class="nav-link" href="/" style="color: white">Home<span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/add" style="color: white">Address</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/schedule" style="color: white">Schedule</a>
      </li>
      
    </ul>


  </div>
  <ul class="nav navbar-nav navbar-right" style="position: relative;">
  				{% if user.is_authenticated %}

				<li class="nav-item"><a class="nav-link" href="#" style="color: red">Hello {{user.username}}</a></li>
				<li class="nav-item"><a class="nav-link" href="/accounts/logout" style="color: white">logout</a></li>

				{% else %}
				<li class="nav-item"><a class="nav-link" href="/accounts/login"style="color: white">login</a></li>
				
				<li class="nav-item"><a class="nav-link" href="/signup" style="color: white">Signup</a></li>
				{% endif %}
				
			</ul>
	</nav>

	{%block content%}

	{%endblock%}

</body>
</html>