{% extends 'testapp/base.html' %}

{% block title_block %}
Equipments
{%endblock%}



{%block body%}
	
	{%endblock%}

{% block content %}
<h1 align="center" style="font: italic;color: red;margin-top: 15px">EQUIPMENTS</h1>
<hr style="background-color: black;height:2px">
<div class="container-fluid">
	<div class="row" style="margin-top: 30px;">
		<div class="col-4" style="padding-top: 30px;position: relative;overflow: scroll;">



<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  
  <a class="nav-link active" id="v-pills-bench-tab" data-toggle="pill" href="#v-pills-bench" role="tab" aria-controls="v-pills-bench" aria-selected="true">BENCH PRESS</a>

  <a class="nav-link" id="v-pills-cable-tab" data-toggle="pill" href="#v-pills-cable" role="tab" aria-controls="v-pills-cable" aria-selected="false">CABLES AND PULLEYS</a>

  <a class="nav-link" id="v-pills-incline-tab" data-toggle="pill" href="#v-pills-incline" role="tab" aria-controls="v-pills-incline" aria-selected="false">INCLINE BENCH PRESS</a>

  <a class="nav-link" id="v-pills-bar-tab" data-toggle="pill" href="#v-pills-bar" role="tab" aria-controls="v-pills-bar" aria-selected="false">PULLUP BAR</a>

   <a class="nav-link" id="v-pills-leg-tab" data-toggle="pill" href="#v-pills-leg" role="tab" aria-controls="v-pills-leg" aria-selected="false">LEG EXTENSION MACHINE</a>

   <a class="nav-link" id="v-pills-leg2-tab" data-toggle="pill" href="#v-pills-leg2" role="tab" aria-controls="v-pills-leg2" aria-selected="false">LEG CURL MACHINE</a>

   <a class="nav-link" id="v-pills-preacher-tab" data-toggle="pill" href="#v-pills-preacher" role="tab" aria-controls="v-pills-preacher" aria-selected="false">PREACHER BENCH</a>

   <a class="nav-link" id="v-pills-bike-tab" data-toggle="pill" href="#v-pills-bike" role="tab" aria-controls="v-pills-bike" aria-selected="false">INDOOR CYCLE BIKE</a>

    <a class="nav-link" id="v-pills-pec-tab" data-toggle="pill" href="#v-pills-pec" role="tab" aria-controls="v-pills-pec" aria-selected="false">PEC DECK MACHINE</a>

     <a class="nav-link" id="v-pills-mill-tab" data-toggle="pill" href="#v-pills-mill" role="tab" aria-controls="v-pills-mill" aria-selected="false">THREADMILL</a>

     <a class="nav-link" id="v-pills-em-tab" data-toggle="pill" href="#v-pills-em" role="tab" aria-controls="v-pills-em" aria-selected="false">ELLIPTICAL MACHINE</a>

     <a class="nav-link" id="v-pills-db-tab" data-toggle="pill" href="#v-pills-db" role="tab" aria-controls="v-pills-db" aria-selected="false">DUMBBELLS</a>

     <a class="nav-link" id="v-pills-br-tab" data-toggle="pill" href="#v-pills-br" role="tab" aria-controls="v-pills-br" aria-selected="false">BATTLE ROPES</a>

     <a class="nav-link" id="v-pills-jr-tab" data-toggle="pill" href="#v-pills-jr" role="tab" aria-controls="v-pills-jr" aria-selected="false">JUMP ROPES</a>

      <a class="nav-link" id="v-pills-BP-tab" data-toggle="pill" href="#v-pills-BP" role="tab" aria-controls="v-pills-BP" aria-selected="false">BUMPER PLATES</a>





</div>


</div>





  <div class="col-8" style="margin-top: 30px;">
<div class="tab-content" id="v-pills-tabContent">


  <div class="tab-pane fade show active" id="v-pills-bench" role="tabpanel" aria-labelledby="v-pills-bench-tab">


  	<div class="Box text-center"> <img src="https://www.gymventures.com/wp-content/uploads/2016/01/BENCH-PRESS.png" class="img-fluid rounded" style="border: 2px solid black;width: 200px;height:200px"></div>
     <br>
<hr style="background-color: black;height:2px">

        <p class="text-justify text-capitalize" style="padding: 20px;">
<b>Description:</b> Used for upper body strength training exercises, where you are pushing weight upwards as you’re laying on your back. You want the perfect chest? This is one of the tools you use to train for that chest.<br>


<br><b>Pro Tip:</b>When doing a bench press, do not arch your back, this means that your feet are placed too low. Try not to bounce the bar off your chest either, even though you may think it makes you look super macho.Also, do not lower the bar towards your neck or abdomen as it could seriously injure you is you have excessive weight and lose control, even momentarily.Finally, try not to lock your elbows at the apex of the movement, keep your feet, back, and head still!<br>

<b>Muscles Used:</b> Biceps, Triceps, Lats, Shoulders, Chest, and Upper Back. There are different techniques when doing a bench press, three main ones are: close grip, wide grip, and close grip with elbows in.</p>




 </div>




  <div class="tab-pane fade" id="v-pills-cable" role="tabpanel" aria-labelledby="v-pills-cable-tab"> 



  	<div class="Box text-center"> <img src="https://www.gymventures.com/wp-content/uploads/2016/01/CABLES-AND-PULLEYS.png" class="img-fluid rounded" style="border: 2px solid black;padding: 40px;width: 200px;height:200px"></div>
     <br>

     <hr style="background-color: black;height:2px">
     <p class="text-justify text-capitalize" style="padding: 20px">
     <b>Description:</b> Very diverse workout machine in the amount and types of exercises that can be performed by attaching grips to the end of the cables.<br>

<b>Pro Tip:</b> When doing cable and pulley machine exercises, it is important to use the right amount of weight. Too little weight, and you will not be working out effectively, too much and you will put strain on your muscles, perhaps even lead to injury.There are many different types of exercises this machine is capable of providing you with. Such as the press, effecting your pecs, shoulders, and triceps. then there is the one handed crossover which also effects the pecs and shoulders, but also biceps.

The different types of exercises you can do with cables make it one of the most powerful gym equipment wherever you go.<br>

<b>Muscles Used:</b> The inherent design and versatility of this machine allows for it to essentially touch upon every muscle in the body. The example below demonstrates a cable crossover exercise targeting the chest and shoulder areas.

</p>


</div>

  




  <div class="tab-pane fade" id="v-pills-incline" role="tabpanel" aria-labelledby="v-pills-incline-tab">


 <div class="Box text-center"> <img src="https://www.gymventures.com/wp-content/uploads/2016/01/INCLINE-BENCH-PRESS.png" class="img-fluid rounded" style="border: 2px solid black;width: 200px;height:200px"></div>
     <br>

     <hr style="background-color: black;height:2px">



        <p class="text-justify text-capitalize" style="padding: 20px">

<b>Description:</b> Essentially an elevated bench press, but the elevation affects the muscle being targeted.<br>

<b>Pro Tip:</b> Common mistakes people tend to make when exercising with an incline bench press are: setting the bench at a high incline (over 50 degrees), arching their backs, bouncing the bar off their chest, and locking of elbows.

Try to avoid making the above errors by keeping good form and keeping the incline of the bench at below 50 degrees.

Finally, the position of your thumb is important. Grip the bar with your thumbs in opposition to your fingers, this is a more natural grip and safer for lifting.<br>

<b>Muscles Used:</b> The upper chest is targeted by the incline, as well as shoulders and triceps. It is not uncommon to use dumbbells in junction with or instead of a barbell on an incline bench.
</p>



</div>





  <div class="tab-pane fade" id="v-pills-bar" role="tabpanel" aria-labelledby="v-pills-bar-tab"> 


<div class="Box text-center"> <img src="https://www.gymventures.com/wp-content/uploads/2016/01/PULLUP-BAR.png
" class="img-fluid rounded" style="border: 2px solid black;width: 200px;height:200px"></div>
     <br>

     <hr style="background-color: black;height:2px">


<p class="text-justify text-capitalize" style="padding: 20px">
          
<b>Description:</b>The best tool for upper body exercise and strengthening. You can pull yourself up with any grip, though palms facing froward is the most popular one seen in demonstrations. Different grips and hand positions can affect different muscles. You pull yourself up, until your chin is over the bar.<br>

<b>Pro Tip:</b> Pullups are VERY demanding, especially for beginners. It is because of this that you must learn to master them. They are truly an excellent, and yes very demanding, upper body workout.

Keep your movements vertical, aligned, and complete when doing pullups. After a while, if you become an expert at it, you can hand a weight from your waist for additional resistance.<br>
<b>Muscles Used:</b> Trunk, arms, shoulders, abs, pelvic floor muscles, hands and forearms.  Different types of pullups effect different muscles. Some of the more common types of pullup exercises are: behind the neck, underhand grip, pullup to waist, wide/butterfly grip.
</p>

</div>



      <div class="tab-pane fade" id="v-pills-leg" role="tabpanel" aria-labelledby="v-pills-leg-tab">

   <div class="Box text-center"> <img src="https://www.gymventures.com/wp-content/uploads/2016/01/LEG-EXTENSION-MACHINE.png" class="img-fluid rounded" style="border: 2px solid black;width: 200px;height:200px"></div>
     <br>

     <hr style="background-color: black;height:2px">




        <p class="text-justify text-capitalize">
          

<b>Description:</b> Lifting the weights up with your quads, holding steady for a second or two once you fully extend at the top. Leg extension machines are the perfect gym equipment to use when you are rehabilitating from an injury or just trying to strength train your quads.<br>

<b>Pro Tip:</b> Avoid twisting hips and knees as you move the weight, especially when lowering the weight to the machines limit. Avoid fast movements just to gain momentum, remember that form is superior to everything else in bodybuilding.

Flexing and/or extending the foot does not change the work done by the quadriceps<br>

<b>Muscles Used:</b> Quadriceps, gluteal deltoid,

 </p>
      </div>




  <div class="tab-pane fade" id="v-pills-leg2" role="tabpanel" aria-labelledby="v-pills-leg2-tab">

   <div class="Box text-center"> <img src="https://www.gymventures.com/wp-content/uploads/2016/01/LEG-CURL-MACHINE.png" class="img-fluid rounded" style="border: 2px solid black;width: 200px;height:200px"></div>
     <br>

     <hr style="background-color: black;height:2px">




        <p class="text-justify text-capitalize">
          

          <b>Description: </b>Laying on your stomach and facing the floor, lifting with your legs upwards towards your lower back. Squeezing at the top and holding for a second or two, feel it in your hamstrings. A good tool to use for either toning down or bulking up your legs.
<br>
<b>Pro Tip:</b> In addition to the lying leg curl, some of the more popular exercise types include: toes in, toes out, single leg, standing single leg, and seated as well.
<br>
Extending you knees too far as you lower the weight, lifting the weight too fast to gain momentum, and also not placing the knees in line with the axis of the machine are all some of the most common mistakes made by people in the gym using this exercise machine.
<br>

<b>Muscles Used:</b> Biceps femoris, hamstrings, gracilis, sartorius, gastrocnemius, popliteus

        </p>
      </div>

 


 <div class="tab-pane fade" id="v-pills-preacher" role="tabpanel" aria-labelledby="v-pills-preacher-tab">

   <div class="Box text-center"> <img src="https://www.gymventures.com/wp-content/uploads/2016/01/PREACHER-BENCH.png" class="img-fluid rounded" style="border: 2px solid black;width: 200px;height:200px"></div>
     <br>

     <hr style="background-color: black;height:2px">




        <p class="text-justify text-capitalize">
          

<b>Description:</b> While seated, the preacher curl bench helps you isolate and train your biceps. A perfect place for beginners to start biceps training by utilizing a lighter barbell and lifting up and down; slowly bringing the weight down.
<br>
<b>Pro Tip:</b> Sit with your underarms at the top of the edge and your triceps resting on the preacher bench pad. Whether you are doing one handed dumbbell exercises, such as hammer grips or one arm twists, or whether you are using a barbell, follow the above technique.

Contrary to popular belief, this workout is not superior in building that biceps “peak.” But it does prevent you from cheating when working out biceps, and provides them with a precise contraction; separating the elbow movement from the rest of your body.

Do not extend your arm too far, as this can result in injury.  Also do not shift your body downwards toward the weight, just to get leverage and complete the curl. Most importantly, do not use too much weight and combine that with lowering the bar or dumbbell too far down.
<br>
<b>Muscles Used: </b>Biceps, brachialis, and forearms.
       
</p>
      </div>




<div class="tab-pane fade" id="v-pills-bike" role="tabpanel" aria-labelledby="v-pills-bike-tab">

   <div class="Box text-center"> <img src="https://www.gymventures.com/wp-content/uploads/2016/01/indoor-cycling-bike.png" class="img-fluid rounded" style="border: 2px solid black;width: 200px;height:200px"></div>
     <br>

     <hr style="background-color: black;height:2px">




        <p class="text-justify text-capitalize">
          
<b>Description:</b> This one is pretty simple to understand. It’s basically a more convenient alternative to biking. This is the machine you’ll often see used in spin classes, but you can also use it individually. However, make sure not to confuse an indoor cycling bike with other exercise bikes such as a recumbent bike or a regular upright exercise bike.<br>
<b>Pro Tip:</b> Using an indoor cycling bike is similar in some ways to a regular bike but very different in other ways.

You want to make sure you are staying safe to prevent injuries. Setting up properly and maintaining proper form is the key to doing this.

<br>

<b>Muscles Used:</b>
<br>

Calf – Soleus, and gastrocnemius.<br>

Thigh – Hamstrings and quadriceps.<br>
Gluts/Buttocks – Gluteus maximus, medius, and minimus.<br>
Arms – Biceps, and triceps.<br>
Shoulders – Deltoids<br>
Foot – Plantar flexors, and dorsiflexors<br>

        </p>
      </div>





      <div class="tab-pane fade" id="v-pills-pec" role="tabpanel" aria-labelledby="v-pills-pec-tab">

   <div class="Box text-center"> <img src="https://garagegympro.com/wp-content/uploads/2019/08/GOPLUS-Multifunction-Home-Gym-System.jpg" class="img-fluid rounded" style="border: 2px solid black;width: 200px;height:200px"></div>
     <br>

     <hr style="background-color: black;height:2px">




        <p class="text-justify text-capitalize">
          
This particular machine is designed, similarly like chest press machine, to isolate chest muscles, specifically pectoral muscles. The machine is used in a seated position with your elbows at 90 degrees and the point is to use the two mechanical arms to bring them together in front of your face.

The main point is to stay in the same sitting position and not to bend over or move. Besides pectoral muscles you also strength your deltoids (shoulder muscles).

Several multi-functional machines (non-commercial grade) also include pec deck.
       </p>
      </div>




<div class="tab-pane fade" id="v-pills-mill" role="tabpanel" aria-labelledby="v-pills-mill-tab">

   <div class="Box text-center"> <img src="https://garagegympro.com/wp-content/uploads/2019/05/Akonza-Heavy-Duty-Foldable-Treadmill.jpg" class="img-fluid rounded" style="border: 2px solid black;width: 200px;height:200px"></div>
     <br>

     <hr style="background-color: black;height:2px">




        <p class="text-justify text-capitalize">
          

       Without a doubt, the most common cardio piece of equipment in every gym.

It’s basically a piece of machine designed for running in the same space via the use of a rotating belt. This actually dates back centuries to standard mills, which were manually operated by animals or humans.

They usually run either via a flywheel or, more commonly, via an electric motor. There are plenty of treadmills available even for home-gym use that are quite affordable. Just don’t forget to check pros and cons and ‘real-reviewers’ experience.

        </p>
      </div>







      <div class="tab-pane fade" id="v-pills-em" role="tabpanel" aria-labelledby="v-pills-em-tab">

   <div class="Box text-center"> <img src="https://garagegympro.com/wp-content/uploads/2019/05/Body-Champ-New-Elliptical-Machine-Trainer.jpg" class="img-fluid rounded" style="border: 2px solid black;width: 200px;height:200px"></div>
     <br>

     <hr style="background-color: black;height:2px">




        <p class="text-justify text-capitalize">
          

       Another machine designed for cardio training is named elliptical. They work differently than treadmills, though. The motion done on these machines can be best compared to cross-country skiing, because they use dual-action handlebars. They are usually very compact, thus not taking much space.

Besides cardio, working out with ellipticals increases stability, core strength and leg strength. There are a lot of manufactures who produce elliptical machines. You can also check our guide, where we have listed the very best, yet affordable ones.



        </p>
      </div>



 <div class="tab-pane fade" id="v-pills-db" role="tabpanel" aria-labelledby="v-pills-db-tab">

   <div class="Box text-center"> <img src="https://garagegympro.com/wp-content/uploads/2018/09/Cheapest-Adjustable-Dumbbells-768x597.jpg" class="img-fluid rounded" style="border: 2px solid black;width: 200px;height:200px"></div>
     <br>

     <hr style="background-color: black;height:2px">




        <p class="text-justify text-capitalize">
          

       
Dumbbells are possibly the most known free weights in the world. They are used in weight training either individually, or in pairs. The handle is usually made of iron or steel and the weight parts are either made of iron, steel, cement or rubber. These dumbbells can also be adjustable, meaning you can change the desired weight on each dumbbell by unscrewing and re-screwing the weight plates from the handle.

Adjustable dumbbells often come in sets, but are usually much more expensive than regular dumbbells. Either way it never hurts to have a pair ready at your disposal in your home gym.




        </p>
      </div>





      <div class="tab-pane fade" id="v-pills-br" role="tabpanel" aria-labelledby="v-pills-br-tab">

   <div class="Box text-center"> <img src="https://garagegympro.com/wp-content/uploads/2019/01/Power-Guidance-Battle-Rope.jpg" class="img-fluid rounded" style="border: 2px solid black;width: 200px;height:200px"></div>
     <br>

     <hr style="background-color: black;height:2px">




        <p class="text-justify text-capitalize">
          

       
If you ever had a CrossFit training, then I guess you had the pleasure to use a battle rope. These thick and long ropes are usually part of HIIT (High Intensity Interval Training), CrossFit, strength and cardio trainings. They can be a good addition even for your home gym and there are plenty of tutorials on YouTube how to use a battle rope properly


        </p>
      </div>





 <div class="tab-pane fade" id="v-pills-jr" role="tabpanel" aria-labelledby="v-pills-jr-tab">

   <div class="Box text-center"> <img src="https://garagegympro.com/wp-content/uploads/2019/02/FitSkuad-Jump-Rope.jpg" class="img-fluid rounded" style="border: 2px solid black;width: 200px;height:200px"></div>
     <br>

     <hr style="background-color: black;height:2px">




        <p class="text-justify text-capitalize">
          

       
It won’t be a list of gym equipment names if we didn’t include a jump rope. I think I’m completely right if I say that at least every second kid on this planet had a jump rope. I’m saying this because even if you never had a commercial jump rope, you could definitely make one.

Jumping ropes are great for cardio training. But you might be surprised just how many of them are being produced these days. Some of them are made from rubber, while others are made of leather. Which material and design is the best, though? Fear not, we have a guide for that as well.





        </p>
      </div>





 <div class="tab-pane fade" id="v-pills-BP" role="tabpanel" aria-labelledby="v-pills-BP-tab">

   <div class="Box text-center"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQYDPdIQro9a8E_d7EA2PrPzD2xcCK4RnszQw&usqp=CAU" class="img-fluid rounded" style="border: 2px solid black;width: 200px;height:200px"></div>
     <br>

     <hr style="background-color: black;height:2px">




        <p class="text-justify text-capitalize">
          

Weight plates are circular plates of iron with a whole exactly at the center so that they can inserted over a barbell. These plates comes in various size based on its weight. When these plates are coated with high grade rubber these are called as bumper plates, so that they don’t break the floor when thrown on ground. These plates can also be used without the barbells for exercises like Russian twists, back extensions, front shoulder raises and more.


        </p>
      </div>


</div>
</div>
</div>

</div>

{%endblock%}