{% extends 'testapp/base.html' %}

{% block title_block %}
Trainer
{%endblock%}

{%block body%}

	img{
      		width: 200px;
      		height: 200px;

      	}
{%endblock%}


{% block content %}
<div class="jumbotron" style="margin-top: 120px;">
			<img src='https://qph.fs.quoracdn.net/main-qimg-22c6bd25496dcde3000ec1f50a0ecd10' alt='image' class="img-fluid rounded-circle">
			<br>

				<br>


			<h3>DANIEL</h3>

			<p class="text-justify">.......</p>
      


      <b>Skills</b>:<p class="text-capitalize">the ability to inspire clients<br>
a friendly and outgoing personality<br>
excellent people skills to enable you to work with a range of individuals with different backgrounds and motivations<br>
a good understanding of the human body and nutrition<br>
a love of health and fitness<br>
excellent time keeping and organisational skills<br>
the ability to deliver a high level of customer care<br>
excellent oral communication skills<br>
awareness and understanding of safeguarding practice and policy<br>
high levels of enthusiasm and drive<br>
problem solving and stress management skills</p>





<b>Work experience---</b><p class="text-justify text-capitalize">With growing numbers of people entering the fitness industry, it's advisable to get as much relevant work experience as possible. This will not only provide the opportunity to obtain a deeper knowledge and understanding of the industry, it will also give you a chance to do some essential networking with other fitness professionals as well as getting your face seen by potential clients.

Although it's possible to start a training course or apprenticeship to become a personal trainer with no prior relevant experience, many employers, as well as prospective clients, will expect you to have acquired relevant, active experience in the fitness sector. </p>
   
</div>

    {%endblock%}